GIFfiles/** linguist-documentation=false
GIFfiles/** linguist-vendored=false
bin/** linguist-documentation=false
bin/** linguist-vendored=false

*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
