doc/** linguist-documentation=false
doc/** linguist-vendored=false
src/** linguist-documentation=false
src/** linguist-vendored=false

doc/angryflappybird/** linguist-documentation
doc/angryflappybird/** linguist-vendored
doc/index-files/** linguist-documentation
doc/index-files/** linguist-vendored

*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
